.footer {
  background-color: #fdba74;
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

.logo-mg {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
}

.btn-volver {
  background-color: #f87171;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}