.mobile-container {
  max-width: 375px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fffbe0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.header {
  background-color: #fcaeae;
  padding: 20px 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  display: flex;
  gap: 5px;
}

.letra-e { color: green; }
.letra-s { color: red; }
.letra-i { color: orange; }

.emoji {
  font-size: 2rem;
}


.main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #d6f6f2;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 1rem;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 80%;
}

.btn.green {
  background-color: #4fe084;
  color: white;
}

.btn:hover {
  background-color: #b2e0dc;
}

.btn.green:hover {
  background-color: #3cc46f;
}


.avatar {
  width: 120px;
  margin: 20px 0;
  border-radius: 12px;
}


.footer {
  background-color: #f98b3a;
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 0.9rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
